mat-card {
  margin: 8px;
}

.details {
  display: flex;

  .picture {
    img {
      width: 35px;
      height: 35px;
    }
  }

  .text {
    margin: 0 8px;
    display: flex;
    flex-direction: column;

    .name {
      font-weight: bold;
    }
  }
}

.actions {
  display: flex;
  justify-content: flex-end;

  button {
    margin: 2px;
  }
}

