:host {
  width: 100%;
  height: 100%;
}

.main {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  align-content: center;

  .top {
    max-height: 400px;
    height: 60%;
    display: flex;
    width: 100%;

    .list, .map {
      width: 50%;
      padding: 8px;
    }
  }

  .bottom {
    width: 100%;
    padding: 8px;
    height: 40%;
    max-height: 40%;
  }
}
