/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  font-size: 12px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

.form__field {
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
  }

  &:placeholder-shown ~ .form__label {
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #995a23;
  }
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, #995a23,#995a23);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
